.Header {
  /* background-color: white; */
  float: none;
  margin: auto;
  text-align: center;
  font-size: 20px;
  text-indent: 50px;
  font-family: Arial;
  text-decoration: none;
}

li {
  display: inline-block;
}

/* a {
  text-decoration-color: white;

} */

.image_header {
  height: 333px;
  width: 100%;
}
